uploads
uploads/
__pycache__
*.sqlite3
static
staticfiles
**/package-lock.json
project_ids.json
.idea
.env
.env.dev
.env.hml
.env.prod
var
media
remove_migrations.py
pip.ini
ignore_files
backup_mypy.ini
.agc-dev.env
.agc-hml.env
.agc-prod.env
log/
.watchmanconfig
pyproject.toml
watchdog_config.yaml
.bandit
static_prod
venv_celery
uvicorn-config-dev.yaml
ignore_dirs/